<div *ngIf="(getError$ | async) as getError" class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
    <p class="font-bold">{{getError.header}}</p>
    <p class="text-sm">{{getError.message}}</p>
</div>


<div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
    <p class="font-bold">Informational message</p>
    <p class="text-sm">Some additional text to explain said message.</p>
</div>
<div class="h-full w-full py-16 px-4">
    <div class="flex flex-col items-center justify-center ">
        <div [formGroup]="fgForm"  class="bg-white shadow rounded bg-gradient-to-br from-white to-gray-100 lg:w-1/3 md:w-1/2 w-full p-10 mt-16">
            <p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800 mb-3">
                Forgot Your Sign<label class="text-gray-500">Base</label>
            </p>
            <p tabindex="0" class="focus:outline-none text-sm font-normal leading-6 text-gray-600 mb-3">
                Enter your email address below and we will sent you the reset Password Link
            </p>
            <div>
                <label id="email" class="text-sm font-medium leading-none text-gray-800">
                    Email
                </label>
                <input aria-labelledby="email" type="email" formControlName="email"
                    class="bg-gray-200 border rounded text-xs font-medium leading-none text-gray-800 py-3 w-full pl-3 mt-2" />
                    <span class="text-xs text-red-700" *ngIf="displayMessage.email">{{displayMessage.email}} </span>
            </div>
            <div class="mt-8">
                <button role="button" (click)="submit()" [disabled]="!fgForm.valid"
                    class="focus:ring-2 focus:ring-offset-2 focus:ring-blue-700 text-sm font-semibold leading-none text-white focus:outline-none bg-blue-900 border rounded hover:bg-blue-600 py-4 w-full">
                     Submit
                </button>
            </div>
        </div>
    </div>
</div>